.not-found {
    width: 800px;
    height: 500px;
    font-size: 20px !important;
    line-height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inline-link {
    display: contents;
}
