html, body {
    background-color: lightgrey !important;
    width: 100%;
    height: 100%;
}

.app {
    font-size: 18px;
    max-width: 1024px;
    margin: 20px auto;
}

.app .app-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.app .home-content {
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.app .information-cards {
    justify-content: space-around;
}

.app .information-cards .information-card {
    width: 30% !important;
}

.app .information-cards .dummy {
    height: 0;
    padding: 0;
    margin: 0;
    visibility: hidden;
}

.app .profile-image {
    margin: 20px 0px 40px 0px;
}

.app .form-container {
    width: 600px;
    padding: 30px !important;
}

.app .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    width: 100%;
    line-height: 30px;
}

.app .form .form-field-container, .app .form .form-field-container .form-field {
    max-width: 100% !important;
    width: 100%;
}

.app .form .field .input,
.app .form .button {
    font-size: 18px !important;
}

.app .form button.form-field {
    margin: 20px 0 !important;
}

.app .form .errors {
    width: 600px;
    margin-top: 75px;
    font-size: 16px;
}

.app .profile-content {
    width: 100%;
    padding: 20px;
}

.app .floated-right {
    float: right;
}
